[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	name = jvx
	email = 190533585+jon-vx@users.noreply.github.com
[init]
	defaultBranch = main
